.divOption {
    display: grid;
}

.options {
    width: 32.5rem;
    background-color: #c4e8f2;
    padding: 10px;
    border-left: 3px black solid;
    margin-top: 8px;
}

.optionblue {
    width: 32.5rem;
    padding: 10px;
    border-left: 3px black solid;
    margin-top: 8px;
    background-color: blue;
    color: white;
}

.optiongreen {
    width: 32.5rem;
    padding: 10px;
    border-left: 3px black solid;
    margin-top: 8px;
    background-color: green;
    color: white;
}

.optionred {
    width: 32.5rem;
    padding: 10px;
    border-left: 3px black solid;
    margin-top: 8px;
    background-color: red;
    color: white;
}

.options:hover {
    transform: scale(1.05);
}

ul {
    display: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

a:active {
    background-color: blue;
}